{% extends "base.html" %}
{% block content %}
<h2>Add User to Group</h2>
<form method="POST">
   <select name="group_id" required>
      <option value="">Select Group</option>
      {% for group in groups %}
      <option value="{{ group.id }}">{{ group.name }}</option>
      {% endfor %}
   </select>
   <br><br>
   <select name="user_id" required>
      <option value="">Select User</option>
      {% for user in users %}
      <option value="{{ user.id }}">{{ user.username }}</option>
      {% endfor %}
   </select>
   <br><br>
   {% if error %}
      <div >{{ error }}</div>
   {% endif %}
   <button class="btn btn-primary" type="submit">Add to Group</button>
</form>
{% endblock %}