{% extends "base.html" %}
{% block content %}
<h2>Group Details</h2>
<div class="group-details">
   <table class="detail-table">
      <tr>
         <th>ID</th>
         <td>{{ group.id }}</td>
      </tr>
      <tr>
         <th>Group Name</th>
         <td>{{ group.name }}</td>
      </tr>
      <tr>
         <th>Members</th>
         <td>
            {% if group.users %}
            <table class="detail-table">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  {% for user in group.users %}
                  <tr>
                     <td>{{ user.username }}</td>
                     <td>
                        <a class ="btn" href="{{ url_for('user_management.view_user', user_id=user.id) }}">View User</a>
                        <a href="{{ url_for('usergroup_management.remove_user_from_group', user_id=user.id, group_id=group.id) }}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Remove {{ user.username }} from {{ group.name }}?')">
                        Remove
                        </a>
                     </td>
                  </tr>
               </tbody>
               {% endfor %}
            </table>
            {% else %}
            <em>No Members</em>
            {% endif %}
         </td>
      </tr>
   </table>
   <div class="actions">
      <a href="{{ url_for('group_management.group_list') }}" class="btn">Back to Groups</a>
   </div>
</div>
{% endblock %}