<h2>Login</h2>

<form method="POST">
  <input name="username" placeholder="Username" required><br><br>
  <input type="password" name="password" placeholder="Password" required><br><br>
  <button class = "btn" type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{{ url_for('session_management.register') }}">Register here</a></p>

<style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f5f5f5;
        }

        .btn {
        display: inline-block;
        padding: 10px 15px;
        background: #444;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        margin-right: 10px;
        }

        .btn:hover {
        opacity: 0.85;
        }

        .content {
            padding: 20px;
        }
</style>