{% extends "base.html" %}

{% block content %}
<h2>User Details</h2>

<div class="user-details">

    <table class="detail-table">
        <tr>
            <th>ID</th>
            <td>{{ user.id }}</td>
        </tr>

        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>

        <tr>
            <th>Role</th>
            <td>{{ user.role }}</td>
        </tr>

        <tr>
            <th>Groups</th>
            <td>
                {% if user.groups %}
                <table class="detail-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in user.groups %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td>
                                <a class ="btn" href="{{ url_for('group_management.view_group', group_id=group.id) }}">View Group</a>
                                <a href="{{ url_for('usergroup_management.remove_user_from_group', user_id=user.id, group_id=group.id) }}"
                                   class="btn btn-danger btn-sm"
                                   onclick="return confirm('Remove {{ user.username }} from {{ group.name }}?')">
                                   Remove
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <em>No groups assigned</em>
                {% endif %}
            </td>
        </tr>
    </table>

    <div class="actions">
        <a href="{{ url_for('user_management.user_list') }}" class="btn">Back to Users</a>
    </div>

</div>
{% endblock %}
