{% extends "base.html" %}

{% block content %}
<h2>User Details</h2>

<div class="user-details">

    <table class="detail-table">
        <tr>
            <th>ID</th>
            <td>{{ user.id }}</td>
        </tr>

        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>

        <tr>
            <th>Role</th>
            <td>{{ user.role }}</td>
        </tr>

        <tr>
            <th>Groups</th>
            <td>
                {% if user.groups %}
                <table class="detail-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in user.groups %}
                        <tr>
                            <td>{{ group.name }}</td>
                            <td>
                                <a class ="btn" href="{{ url_for('group_management.view_group', group_id=group.id) }}">View Group</a>
                                <a href="{{ url_for('usergroup_management.remove_user_from_group', user_id=user.id, group_id=group.id) }}"
                                   class="btn btn-danger btn-sm"
                                   onclick="return confirm('Remove {{ user.username }} from {{ group.name }}?')">
                                   Remove
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <em>No groups assigned</em>
                {% endif %}
            </td>
        </tr>
    </table>

    <div class="actions">
        <a href="{{ url_for('user_management.user_list') }}" class="btn">Back to Users</a>
        { % if current_user.role == 'Admin' and user.id != current_user.id %} <!-- Don't allow users to delete themselves -->
            <a class = "btn btn-danger" href="{{ url_for('user_management.delete_user', user_id=user.id) }}" onclick="return confirm('Are you sure you want to delete this user?')">Delete User</a>
        {% endif %}
        { % if current_user.role == 'Admin' %} <!-- Only allow admins to edit users -->
            <a class="btn btn-primary" href="{{ url_for('user_management.edit_user', user_id=user.id) }}">Edit User</a>
            <a class="btn btn-primary" href="{{ url_for('usergroup_management.add_user_to_group') }}">Add to Group</a>
        {% endif %}
    </div>

</div>
{% endblock %}
